<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487559450095-5mp334e42qaq1jrq9atu3np9c92vp03e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487559450095-5mp334e42qaq1jrq9atu3np9c92vp03e</string>
	<key>API_KEY</key>
	<string>AIzaSyCcHgXNIQG-UX-hC3so2McKFxqcDQEs7F4</string>
	<key>GCM_SENDER_ID</key>
	<string>487559450095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cibertec.DAM-II-LA-CALERA</string>
	<key>PROJECT_ID</key>
	<string>ios-lacalera</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-lacalera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487559450095:ios:51a6f3c892cf37a32dfa1a</string>
</dict>
</plist>